.user-card {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.user-card__avatar {
  width: 70px;
  border-radius: 50%;
}

.user-card__login {

}

.user-card__html-url {
  text-decoration: none;
  background-color: black;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
}

.user-card__html-url:hover {
  background-color: var(--btn-hover-bg-color);
  color: var(--btn-hover-text-color);
}
