.clear-users-button {
  margin-top: 12px;
  margin-left: 12px;
  background-color: #000;
  color: #fff;
  border: 1px solid #222;
  border-radius: 2px;
  padding: 6px 12px;
}

.clear-users-button:hover {
  background-color: var(--btn-hover-bg-color);
  color: var(--btn-hover-text-color);
}