html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --red: #ff3b58;
  --btn-hover-bg-color: #575757;
  --btn-hover-text-color: #cacaca;
}

body {
  margin: 0;
  font-size: 16px;
}

.app {
  border: 1px solid blue;
}